1. The app uses the devices’ GPS and fetches my location in every 0.7 seconds;
2. The data is being gathered and uploaded to my web service once a minute (or if no internet connection then buffer the data and send it when network connection can be established);
3. Since I’ll be using another application for navigating, my tracker must be able to run while being on background.